* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
}

.contact-container {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
}

.contact-container h1 {
    text-align: center;
    font-size: 36px;
    color: #0C2B4E;
}

.subtitle {
    text-align: center;
    color: #555;
    margin-bottom: 30px;
}

.contact-wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}


.contact-form, .contact-info {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 48%;
    min-width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 2px solid #0C2B4E;
}

.contact-form h2,
.contact-info h2 {
    margin-bottom: 20px;
    color: #0C2B4E;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.contact-form button {
    width: 100%;
    background: #0C2B4E;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #61ae4f;
}


.contact-info p {
    margin-bottom: 15px;
    color: #333;
}

.contact-info h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.icons img {
    width: 35px;
    margin-right: 10px;
    
}
.contact-icon{
    width: 30px;
    height: 28px;
    margin-right: 10px;
    border-radius: 30%;
    border: 1px solid white;
    cursor: pointer;
    text-decoration: none;
}


@media (max-width: 768px) {
    .contact-wrapper {
        flex-direction: column;
    }

    .contact-form, .contact-info {
        width: 100%;
    }
}
