.navbar-main-container {
    background-color: #0C2B4E;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.project-name {
    font-size: 20px;
    font-weight: 20px;
    cursor: pointer;
}

.main-logo {
    border-radius: 70%;
}
.navbar-links-container{
    display: flex;
    gap: 30px;
    cursor: pointer;
}
